<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar">

    <div>
      <h3>Instagram</h3>
    </div>



    <div class="srh">
       <form action="/search" method="get">
        <input class="form-control"  type="search" name="search"><button class="btn btn-primary">search</button>
       </form>
    </div>

    <div class="ico">
      <ul>
       <li>
        <form action="/insta" method="get"><button><i class="fa-solid fa-house"></i></button></form>
       </li>
       <li>
        <form action="/notification" method="get">
          <button><i class="fa-regular fa-heart"></i></button></form>
       </li>
       <li>
        <form action="/message/<%= data._id %>" method="get">
          <button>
          <i class="fa-regular fa-message"></i>
        </button>
        </form>
       </li>
       <li>
        <form action="/createPost/<%=user._id %>" method="get">
          <button>
          <i class="fa-solid fa-signs-post"></i>
        </button>
        </form>
       </li>
       
       <li>
        <form action="/instagram" method="get">
          <button>
            <div class="proPic">
              <img src="<%= data.pic %>" alt="">
            </div>
          </button>

        </form>
       </li>
       <% if(user){ %>
       <li>
        <form action="/logout" method="post"><button><i
          style="color: red;" class="fa-solid fa-right-from-bracket"></i></button></form>
       </li>
       <% } %>
      </ul>
    </div>

  </nav>

</body>
</html>