
.chatRoom{
    display: flex;
    height: 100vh;
}

.users{
    border: 1px solid black;
    flex: 30%;
    text-decoration: none;
    color: black;
}

.realTimeChats{
    border: 1px solid black;
    flex: 70%;
    position: relative;
    /* height: 100%; */
}
/* 
.mar{
    margin: 0rem;
} */

input{
    margin: 0.6rem;
    width: 65% !important;
}


#btt{
    display:  inline-block !important;
}

.sendBox{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;

}

#btt1{
    height: 80%;
    flex: 90%;
}
#snd{
    flex: 10%;
    height: 80%;
    border: none !important;
    background-color: lightblue;
}

.frnd{
    height: 5rem;
    
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}
.frnd:hover{
    cursor: pointer;
    opacity: 0.8;
}
.userImg{
    height: 80%;
    width: 4rem;
    border-radius:50% ;
    border: none;
}
.userImg img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius:50% ;

}
#messages{
    display: block;
    max-height: 500px; /* Adjust based on your layout */
    height: 80%;
    overflow-y: scroll;
}

.fl{
    display: flex;
    align-items: center;
}
.sp1{
    background-color: lightblue;
    padding: 0.5rem;
    border-radius: 4px;
}
.sp2{
    background-color: lightgray;
    padding: 0.5rem;
    border-radius: 4px;

}

.instamess{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    border-radius: 0px 0px 6px 6px;
}

.uspc{
    padding: 0.4rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.uspc img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}
.rmv{
    display: none;
}
