::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#url{
  width: 100% !important;
}

ul{
    display: flex;
  }
  i{
    font-size: 1.5rem;
  }
  li{list-style: none;
  padding: 0.4rem;
  }
  .btn{
  height: 3rem;
  }
  nav{
    border-bottom: 1px solid black;
    /* position: fixed !important; */
    /* top: 0px !important; */
    position: relative !important; 
    width: 100%;
  }
  .navbar h3{
  
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;

  }
  .proPic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* object-fit; */
  }
  .srh{
    position: relative;
  }
  .srh form{
    display: flex !important;
  }
  .proPic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  ul form button{
    border: none;
    background-color: white;
  }

  .UserD{
    display: block;
    text-align: center;
    padding: 0.5rem;
    
  }
  .UserD a{
    text-decoration: none;
    color: black;
  }


  .bb{
    display: none;
    background-color: white;
    color: black;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  .bb1{
    display: none ;
    background-color: rgba(239, 239, 240, 0.8);
    color: black;
    border: none;
    position: fixed;
    right: 0;
    top: 0;
  }
  

  .UserDisp{
    z-index: 1;
    top: 80%;
    border-radius: 0.5rem;
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
  }

  .dp{
    display: none;

  }

.searchUser{
  margin: 0rem !important;
}
  .nbt{
    height: 2.5rem;
  }


@media( max-width:700px){
.navbar{
flex-direction: column;
justify-content: center;
align-content: space-around;
}
.ico{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
background-color: rgba(239, 239, 240, 0.8);
z-index: 1;
transition: 5ms;
}
.ham{
  display: block;
}
.ico ul button{
  background-color: transparent;
}
.ico ul{
  flex-direction: column;
}
.bb{
  display: inline-block;
}
}