<%- layout("layout/boilerplate.ejs")  %>



<div class="mar">
<form action="/editProf/<%=data.id%>?_method=PUT" method="post">
    <div class="form-group ">
        <div>
      <label for="url">URL image</label>
      <input type="text" name="pic" value="<%= data.pic %>" class="form-control" id="url" required>
    </div>
    </div>
    <div class="form-group">
    <div>
        <label for="caption">Bio</label>
        <textarea class="form-control" name="bio" id="caption" rows="3"><%= data.bio  %></textarea>
    </div>
    </div>
    <br>
    <button type="submit"  class="signBt btn btn-primary">Edit Profile</button>

  </form>
</div>