<% layout("layout/boilerplate.ejs") %>


<div>
    

 <div class="kanPost ">
    <% for(us of ans) { %>

     
        <div class="userFoll ">
            
            <div class="userProf">
                <div class="userpc">
                  <img src="<%= us.pic%>" alt=""> 
                </div>
                <!-- &nbsp; &nbsp; &nbsp; &nbsp; -->
                <div> <%= us.username.username %> </div>
            
            </div>

            
      <% if(user._id.equals(root)){ %>
            <div class="followBut">
                <form action="/unfollow/<%= us._id%>" method="post">
                <button class="btn rmv">Unfollow</button>
               </form>
            </div>
            <% } %>

        </div>
    

        <br>
    
        <% } %>
   
 </div>
</div>