<% layout("layout/boilerplate.ejs") %>

<!-- <style>
    .kanPost{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .userFoll{
        display: flex;
        width: 60%;
        padding: 1rem;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid black;
        border-radius:1rem ;
        
    }
    .userProf{
        display: flex;
        width: 30%;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
       
        /* border: 0.3px solid black; */
    }
    .userProf p{
        /* justify-self: flex-start; */
    }
    .userpc{
 width: 2rem;
        height: 2rem;
     border-radius: 50%; 
    }
    .userProf img{
        border-radius: 50%;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    h4{
        text-align: center;
        margin: 1rem;
    }

    .rmv{
        border-radius: 1rem !important;
        border: 0.3px solid black !important;
        background-color: lightgray !important;
    }
    .rmv:hover{
        opacity: 0.6;
    }


</style> -->

<div>
    

 <div class="kanPost ">
    <% for(us of ans) { %>

     
        <div class="userFoll ">
            
            <div class="userProf">
                <div class="userpc">
                  <img src="<%= us.pic%>" alt=""> 
                </div>
                <!-- &nbsp; &nbsp; &nbsp; &nbsp; -->
                <div> <%= us.username.username %> </div>
            
            </div>

            
      <% if(user._id.equals(root)){ %>
            <div class="followBut">
                <form action="/unfollow/<%= us._id%>" method="post">
                <button class="btn rmv">Unfollow</button>
               </form>
            </div>
            <% } %>

        </div>
    

        <br>
    
        <% } %>
   
 </div>
</div>